<!-- Form to save photo info to user's Firebase (image title, description, tags, photo album name, image location url) -->
<div ng-controller="AddPicCtrl as addPicCtrl">
  <h1>Create Memories</h1>
  <form>
    <div class="form-group">
      <label for="uploadImageTitle">Image Title:</label>
      <input type="text" class="form-control" id="uploadImageTitle" placeholder="Image Title" ng-model="addPicCtrl.newPic.title">
    </div>
    <div class="form-group">
      <label for="uploadDescription">Description:</label>
      <textarea class="form-control" rows="3" id="uploadDescription" ng-model="addPicCtrl.newPic.description"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input type="text" class="form-control" id="uploadTags" placeholder="Tags" ng-model="addPicCtrl.newPic.tags">
    </div>
    <div class="form-group">
      <label for="uploadAlbumName">Album Name:</label>
      <input type="text" class="form-control" id="uploadAlbumName" placeholder="Album Name" ng-model="addPicCtrl.newPic.albumName">
    </div>
    <div class="form-group">
      <label for="uploadImageUrl">Image URL:</label>
      <input type="url" class="form-control" id="uploadImageUrl" placeholder="Image URL" ng-model="addPicCtrl.newPic.imageUrl">
    </div>
    <button type="submit" class="btn btn-material-blue" ng-click="addPicCtrl.addUserPic()">Submit</button>
  </form>
</div>