<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Users should be able to save photo info to firebase (image title, description, tags, photo album name, image location url) -->
<h1>Create Memories</h1>
<form>
  <div class="form-group">
    <label for="uploadImageTitle">Image Title:</label>
    <input type="text" class="form-control" id="uploadImageTitle" placeholder="Image Title">
  </div>
  <div class="form-group">
    <label for="uploadDescription">Description:</label>
    <textarea class="form-control" rows="3" id="uploadDescription"></textarea>
  </div>
  <div class="form-group">
    <label for="tags">Tags:</label>
    <input type="text" class="form-control" id="uploadTags" placeholder="Tags">
  </div>
  <div class="form-group">
    <label for="uploadAlbumName">Album Name:</label>
    <input type="text" class="form-control" id="uploadAlbumName" placeholder="Album Name">
  </div>
  <div class="form-group">
    <label for="uploadImageUrl">Image URL:</label>
    <input type="url" class="form-control" id="uploadImageUrl" placeholder="Image URL">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>