<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Users should be able to save photo info to firebase (image title, description, tags, photo album name, image location url) -->
<h1>Edit Memories</h1>
<form>
  <div class="form-group">
    <label for="editImageTitle">Image Title:</label>
    <input type="text" class="form-control" id="editImageTitle" placeholder="Image Title">
  </div>
  <div class="form-group">
    <label for="editDescription">Description:</label>
    <textarea class="form-control" rows="3" id="editDescription"></textarea>
  </div>
  <div class="form-group">
    <label for="editTags">Tags:</label>
    <input type="text" class="form-control" id="editTags" placeholder="Tags">
  </div>
  <div class="form-group">
    <label for="editAlbumName">Album Name:</label>
    <input type="text" class="form-control" id="editAlbumName" placeholder="Album Name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>