<div class="row" id="login">
	<div class="col-sm-12">
		<form name="login-form">

			<h2>Let's Get Instalgic</h2>
			<p>Log in to view your nostalgic pics, or sign up to get instalgic!</p>

			<div>
				<input class="form-control" required type="email" ng-model="authCtrl.email" placeholder="memories@goneforever.com"/>
			</div>
			<div>
				<input class="form-control" required type="password" ng-model="authCtrl.password" placeholder="Enter your password"/>
			</div>
			<button class="btn btn-material-blue" ng-click="authCtrl.login()" ng-show="authCtrl.email && authCtrl.password">Log in</button>

		<h4>You can also log in using Github</h4>
		
		</form>

			<h3>Need an account?  <a href="#/register">Register</a> today!</h3>
	</div>
</div>