<div class="navbar navbar-material-blue navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse">

      <a class="navbar-brand text-muted" href="#">INSTALGIA</a>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="#" class="selected">Nostalgic Pics</a></li>
          <li><a class="active" href="#" class="selected">Nostalgic Friends</a></li>
          <li><button ng-click="authCtrl.logout()">Logout</button></li>
        </ul>

    </div> 
  </div>
</div>