<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="pic-table">
      <table ng-controller="ProfileCtrl as profileCtrl">

        <tr>
          <th>Photo</th>
          <th>Description</th>
          <th>Tags</th>
          <th>Album</th>
        </tr>

        <tr  ng-repeat="pic in profileCtrl.picsArray" ng-model="profileCtrl.picsArray">
          <td><img ng-src={{profileCtrl.picsArray.imageUrl}}></td>
          <td>{{profileCtrl.picsArray.description}}</td>
          <td>{{profileCtrl.picsArray.tags}}</td>
          <td>{{profileCtrl.picsArray.album}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>